
/DLnote
/MLnote
/Orange
/UI
/SVU_SCT_FIN
/MCP

__pycache__/


# proejct Gropu
DLnote/
MLnote/
Orange/
SHAP/
UI/
SVU_SCT_FIN/
MCP/
ChatBot/

# sub file dir
testFile/
log_dir/
save_model/

*.ipynb
*.csv

.env